.bg-image-card {
    height: auto;
    /* Altura de la tarjeta */
}

.card-img {
    object-fit: cover;
    /* Asegura que la imagen cubra toda la tarjeta sin distorsionarse */
    height: 100%;
    /* La imagen debe ocupar el 100% del alto de la tarjeta */
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* Filtro oscuro semitransparente */
}

.card-title {
    font-size: 1.2rem;
    /* Tamaño de la fuente del texto centrado */
}